.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center
}

.centered .btn-primary {
    margin: 0 1em 0 1em;
}

#card {
    position: absolute;
    top:30%;
    left: 50%;
    margin:0;
    max-height: 650px;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}

/*Navbar*/
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
    color: #cfb87c;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
}

.btn-space {
    margin-right: 30px;
}

#floating_alert {
    position: absolute;
    top: 0px;
    display: table;
    margin: auto;
    width: 100%;
    height: 60px;
    text-align: center;
    z-index: 5000;
    font-size: large;
}

