.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.centered{
    text-align:center
}

.centered .btn-primary {
    margin: 0 1em 0 1em;
}

#card {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

h1{
    text-align:center;
}
/*Navbar*/
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
    color: #cfb87c;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
}

.btn-space {
    margin-right: 30px;
}