<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Application</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Form Helpers -->
    <link href="../static/BootstrapFormHelpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
    <script src="../static/BootstrapFormHelpers/dist/js/bootstrap-formhelpers.min.js"></script>
    <link rel="shortcut icon" href="https://kblainec.files.wordpress.com/2016/06/cuboulder-icon.png" />
    <!--Bootstrap DatePicker-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"
          rel="stylesheet" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <!--Bootstrap validator-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <style>
      .sidebar1 {
      float: right;
      width: 25%;
      padding-bottom: 10px;
      background-color: #eee;
      }
    body {
        background-color:#fff8e1;
    }
    </style>
</head>
<body>
    <script src="../static/js/studentPage.js"></script>
    <nav class="navbar navbar-default" style="background-color: #000000">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/student">New Application</a></li>
                <li><a href="/navigation">View Application</a></li>
                <li><a href="/project">Projects</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <h1 id="top">Student Application</h1>
      <div class="col-md-2" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#studentInfo">Demographic Info</a></li>
          <li><a href="#boulderInfo">Boulder Contact Info</a></li>
          <li><a href="#summerInfo">Summer Contact Info</a></li>
          <li><a href="#academicInfo">Academic Info</a></li>
          <li><a href="#apprInfo">Apprenticeship Info</a></li>
          <li><a href="#files">Skills, Resume, and Cover Letter</a></li>
          <li><a href="#top">Back to Top</a></li>
        </ul>
      </div>

<div class="col-md-10">
   <div class="row" id="studentInfo">
        <div class="col-md-10 center">
               <div class="panel panel-default">
               <div class="panel-heading">
                 <h3 class="panel-title">Demographic Information</h3>
               </div>
               <div class="panel-body">
                 <form>
               <div class="form-group">
                 <label for="name"><span style="color:red;">* </span>Your Name:</label>
                 <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
               </div>
               <div class="form-group">
                 <label><span style="color:red;">* </span>Gender:</label>
                 <label class="radio-inline"><input type="radio" name="gender" id="r1Gender" value=0>Male</label>
                 <label class="radio-inline"><input type="radio" name="gender" id="r2Gender" value=1>Female</label>
               </div>
               <div class="form-group">
                   <label>Are you Hispanic, Chicano, Mexican, Latino, Cuban, Puerto Rican, South or Central
                       American, or Spanish Origin?</label>
                   <div class="form-check">
                     <label class="form-check-label">
                         <input type="radio" class="form-check-input" name="origin" id="option1" value="0">
                         Yes
                       </label>
                   </div>
                   <div class="form-check">
                     <label class="form-check-label">
                         <input type="radio" class="form-check-input" name="origin" id="option2" value="1">
                         No
                       </label>
                   </div>
                   <div class="form-check">
                     <label class="form-check-label">
                         <input type="radio" class="form-check-input" name="origin" id="option3" value="2">
                         I do not wish to provide this information
                       </label>
                   </div>
               </div>
               <div class="form-group">
                 <label>Please check your race (select all that apply):</label>
                 <div class="checkbox">
                   <label><input type="checkbox" name="race" id="r1" value="1">American Indian or Alaskan Native</label>
                 </div>
                 <div class="checkbox">
                   <label><input type="checkbox" name="race" id="r2" value="2">Black or African-American</label>
                 </div>
                 <div class="checkbox">
                   <label><input type="checkbox" name="race" id="r3" value="3">Native Hawaiian or other Pacific Islander</label>
                 </div>
                 <div class="checkbox">
                   <label><input type="checkbox" name="race" id="r4" value="4">Asian</label>
                 </div>
                 <div class="checkbox">
                   <label><input type="checkbox" name="race" id="r5" value="5">White</label>
                 </div>
                 <div class="checkbox">
                   <label><input type="checkbox" name="race" id="r6" value="6">Other</label>
                 </div>
                 <div class="checkbox">
                   <label><input type="checkbox" name="race" id="r7" value="7">Do Not Wish to Provide</label>
                 </div>
               </div>
             </form>
               </div>
             </div>
           </div>
       </div>

   <div class="row" id="boulderInfo">
        <div class="col-md-10 center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Boulder Contact Information</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="address"><span style="color:red;">* </span>Boulder Address: (street, city, state, zip)</label>
                <textarea class="form-control" name="address" id="address" rows="3" type="text"></textarea>
              </div>
              <div class="form-group">
                <label><span style="color:red;">* </span>Phone:</label>
                <input type="text" class="input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd" name="phone" id="phone">
              </div>
                <div class="form-group">
                  <label><span style="color:red;">* </span>Email:</label>
                  <input type="text" class="form-control" name="email1" id="email1" placeholder="Email">
                </div>
            </form>
          </div>
        </div>
       </div>
   </div>

   <div class="row" id="summerInfo">
       <div class="col-md-10 center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Summer Contact Information(if different)</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="address">Summer Address: (street, city, state, zip)</label>
                <textarea class="form-control" name="sumAddress" id="sumAddress" rows="3" type="text"></textarea>
              </div>
              <div class="form-group">
                <label>Summer Phone:</label>
                <input type="text" class="input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd" name="sumPhone" id="sumPhone">
              </div>
                <div class="form-group">
                  <label>Summer Email:</label>
                  <input type="text" class="form-control" name="sumEmail" id="sumEmail" placeholder="Email">
                </div>
            </form>
          </div>
        </div>
       </div>
   </div>


   <div class="row" id="academicInfo">
       <div class="col-md-10 center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Academic Information</h3>
          </div>
          <div class="panel-body">
            <small>Please carefully enter your academic information. If you are still open option, indicate which major you plan to enter.</small>
                  <div class="row">
                      <div class="col-md-6">
                          <form>
                          <div class="form-group">
                            <label for="address"><span style="color:red;">* </span>Primary Major</label>
                            <textarea class="form-control" name="major" id="major" type="text"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="address">Secondary Major</label>
                              <small>If you have a <strong>double major</strong>. Do not select a minor here.</small>
                            <textarea class="form-control" name="secondaryMajor" id="secondaryMajor" type="text"></textarea>
                          </div>
                          <div class="form-group">
                            <label><span style="color:red;">* </span>StudentNumber:</label>
                            <input class="form-control" type="number" id="number" min="0" name="SN">
                          </div>
                          </form>
                      </div>

                      <div class="col-md-6">
                          <form>
                          <div class="form-group">
                            <label><span style="color:red;">* </span>GPA:</label>
                            <input class="form-control" name="GPA" id="GPA" type="number" min="0" step="any">
                          </div>

                             <div class="form-group has-feedback">
                                  <label class="control-label"><span style="color:red;">* </span>Level: (freshman,Sophomore, Junior, Senior, Other)</label>
                                  <select class="form-control" name="level" id="level" required>
                                         <option  disabled value="">Please Select</option>
                                         <option value=0>Freshman</option>
                                         <option value=1>Sophomore</option>
                                         <option value=2>Junior</option>
                                         <option value=3>Senior</option>
                                         <option value=4>5th Year Senior</option>
                                  </select>
                                <div class="help-block with-errors"></div>
                             </div>
                        </form>
                        <div class="form-group date">
                            <label><span style="color:red;">* </span>Graduation Date</label>
                            <span class="add-on"><i class="icon-calendar"></i></span>
                       {% set dataList = data.split(',')  %}
                       {% set filtered1 = dataList[16]|replace("\"", "")   %}
                       {% set splitTime = filtered1.split(' ')   %}
                       {% set concateOnlyDate = splitTime[0]+splitTime[1]+splitTime[2]+splitTime[3] %}
                            <input data-provide="datepicker" data-date-format="mm/dd/yyyy" type="text" value="{{concateOnlyDate}}"></input>
                        </div>
                      <div class="form-group">
                        <label>Do you have previous research experience?</label><br>
                        <label class="radio-inline"><input type="radio" name="researchExp" id="research1" value="yes">Yes</label>
                        <label class="radio-inline"><input type="radio" name="researchExp" id="research2" value="no">No(This will not affect your eligibility!)</label>
                      </div>

                      </div>
                  </div>

          </div>
        </div>
       </div>
   </div>

   <div class="row" id="apprInfo">
       <div class="col-md-10 center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Apprenticeship Information</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                  <label>Have you applied for a Discovery Learning Apprenticeship before?</label><br>
                  <label class="radio-inline"><input type="radio" name="appliedBefore" id="appliedBefore1"
                                                     value=0>Yes</label>
                  <label class="radio-inline"><input type="radio" name="appliedBefore" id="appliedBefore2"
                                                     value=1>No</label>
                  <label class="radio-inline"><input type="radio" name="appliedBefore" id="appliedBefore3" value=2>Not
                      Sure</label>
              </div>

              <div class="form-group">
                  <label>Other fall employment planned:</label>
                  <textarea class="form-control" name="employmentPlanned" id="employmentPlanned" placeholder="Other fall employment planned:" disabled="disabled"></textarea>
              </div>

              <p><strong style="color:red">Please make sure you selected a major before proceeding!</strong></p>
              <p>Indicate up to five research projects in order of interest:</p>
              <p><strong style="color:red">Please note that some projects have special requirements that you must meet.</strong></p>
              <p>To see requirements and longer descriptions of the project, look at the projects available for your major here.</p><a href='/project'>projects</a>

              <div class="form-group">
                <label><span style="color:red;">* </span>Project1</label>
                <select name="p1" id="p1">
                  {% for row in data %}
                    <option value={{ row[0] }} type="number">{{ row[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Project2</label>
                <select name="p2" id="p2">
                  {% for row in data %}
                    <option value={{ row[0] }} type="number">{{ row[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Project3</label>
                <select name="p3" id="p3">

                  {% for row in data %}
                    <option value={{ row[0] }} type="number">{{ row[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Project4</label>
                <select name="p4" id="p4">

                  {% for row in data %}
                    <option value={{ row[0] }} type="number">{{ row[1] }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label>Project5</label>
                <select name="p5" id="p5">

                  {% for row in data %}
                    <option value={{ row[0] }} type="number">{{ row[1] }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                  <label>Have you had a background check yet (at CU)? If yes when? (Take your best guess
                      if you aren't sure.)</label><br>
                  <label class="radio-inline"><input type="radio" name="backCheck" id="backgroundCheck1" value=0>Yes</label>
                  <label class="radio-inline"><input type="radio" name="backCheck" id="backgroundCheck2" value=1>No</label>
                  <label class="radio-inline"><input type="radio" name="backCheck" id="backgroundCheck3" value=2>Not
                      Sure</label>
              </div>

              <div class="form-group">
                  <label>Have you had Discrimination and Harassment Awareness training yet (at CU)? If yes
                      when? (Take
                      your best guess if you aren't sure.)</label><br>
                  <label class="radio-inline"><input type="radio" name="discrimination" id="discrimination1" value=0>Yes</label>
                  <label class="radio-inline"><input type="radio" name="discrimination" id="discrimination2" value=1>No</label>
                  <label class="radio-inline"><input type="radio" name="discrimination" id="discrimination3" value=2>Not Sure</label>
              </div>

              <div class="form-group">
                <label for="name">Last four digits of your Social Security Number:
                    (this will only be used to acess your background check information)</label>
                <input type="text" class="form-control" name="ssn" id="ssn" maxlength="4">
              </div>
            </form>
          </div>
        </div>
       </div>
   </div>

   <div class="row" id="files">
       <div class="col-md-10 center">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Skills, Resume, and Cover Letter</h3>
          </div>
          <div class="panel-body">
              <p>Please list the three skills or qualifications that you feel make you a great candidate for the
                  positions you selected:
(Could be knowledge of a programming language, knowledge of a field, courses taken, personal characteristics, etc.
                  If appropriate, note your match to requirements in job description. Please note responses are limited
                  to 75 characters.)</p>
            <form>
              <div class="form-group">
                <label>1. </label>
                <textarea class="form-control" name="skill1" id="skill1" rows="2" type="text" maxlength="75"></textarea>
              </div>
              <div class="form-group">
                <label>2. </label>
                <textarea class="form-control" name="skill2" id="skill2" rows="2" type="text" maxlength="75"></textarea>
              </div>
              <div class="form-group">
                <label>3. </label>
                <textarea class="form-control" name="skill3" id="skill3" rows="2" type="text" maxlength="75"></textarea>
              </div>
              <p>To complete the application, you must submit a resume and a cover letter. You can submit both using
                  the form below. Please use either the pdf format or a text document. To improve your chances of
                  being selected for an apprenticeship, please take the time to construct a well-written cover letter
                  and resume.</p>

              <label class="control-label">Resume:</label>
                <input id="input-1" type="file" class="file">
              <label class="control-label">Cover letter:</label>
                <input id="input-2" type="file" class="file">
            </form>
          </div>
        </div>
       </div>
   </div>
</div>

  </div>

    <script src="../static/js/sideBar.js"></script>

</body>
<script>
// $('.datepicker').datepicker();
Mycomponet = '{{data[0]}}'
  $(document).ready(console.log(Mycomponet))

  /*
   ====================
   Date Picker
   ====================
   */
/*  var graduateDate = new Date();

  $('#graduation').datepicker({
      autoclose: true,
      minViewMode: 1,
      format: 'yyyy-mm-dd'
  }).on('changeDate', function (selected) {
      graduateDate = new Date(selected.date.valueOf());
      graduateDate.setDate(graduateDate.getDate(new Date(selected.date.valueOf())));
  });*/


  function display_studentRecord(data, majors) {

    console.log("data: " + data)
    console.log("majors: " + majors)

    var name = data[0][0];
    var gender = data[0][1];
    var origin = data[0][2];
    var race = data[0][3];
    var phoneNumber = data[0][4];
    var email = data[0][5];
    var address = data[0][6];
    var sumPhone = data[0][7];
    var sumEmail = data[0][8];
    var sumAddress = data[0][9];

    var major = data[0][10];
    var secondaryMajor = data[0][11];

    var studentNumber = data[0][12];
    var GPA = data[0][13];
    var level = data[0][14];
    var graduateDate = data[0][15];

    var researchExperience = data[0][16];
    var appliedBefore = data[0][17];

    var employmentPlanned = data[0][18];
    var backgroundCheck = data[0][19];
    var discrimination = data[0][20];
    var ssn = data[0][21];
    var skills = data[0][22];

    var project_title1 = data[0][23];
    var project_title2 = data[0][24];
    var project_title3 = data[0][25];
    var project_title4 = data[0][26];
    var project_title5 = data[0][27];

    var opt1= document.getElementById('p1').options[0];
    opt1.value =  project_title1;
    opt1.text = project_title1;

    var opt2= document.getElementById('p2').options[0];
    opt2.value =  project_title2;
    opt2.text = project_title2;


    var opt3= document.getElementById('p3').options[0];
    opt3.value =  project_title3;
    opt3.text = project_title3;


    var opt4= document.getElementById('p4').options[0];
    opt4.value =  project_title4;
    opt4.text = project_title4;


    var opt5= document.getElementById('p5').options[0];
    opt5.value =  project_title5;
    opt5.text = project_title5;



    document.getElementById("name").value = name;

    if (document.getElementById('r1Gender').value == gender) {
      document.getElementById('r1Gender').checked = true;
    }
    else{
      document.getElementById('r2Gender').checked = true;
    }

    if (document.getElementById('option1').value == origin) {
      document.getElementById('option1').checked = true;
    }
    else if (document.getElementById('option2').value == origin){
      document.getElementById('option2').checked = true;
    }
    else if (document.getElementById('option3').value == origin) {
      document.getElementById('option3').checked = true;
    }

    raceArray = race.split(',');

    for(i=0; i<7;i++){
      if(raceArray[i] != null)
      {
        document.getElementById('r' + raceArray[i] ).checked = true;
        console.log('r' + raceArray[i]);
      }
    }


      if (0 == researchExperience) {
        document.getElementById('research1').checked = true;
      }
      else if (1 == researchExperience){
        document.getElementById('research2').checked = true;
      }

      if (0 == appliedBefore) {
        document.getElementById('appliedBefore1').checked = true;
      }
      else if (1 == appliedBefore){
        document.getElementById('appliedBefore2').checked = true;
      }
      else if(2 == appliedBefore){
        document.getElementById('appliedBefore2').checked = true;
      }

      document.getElementById("address").value = address;
      document.getElementById("phone").value = phoneNumber;
      document.getElementById("email1").value = email;

  for(i=0; i<14;i++){
        if(major == majors[i][0])
        {
          document.getElementById("major").value = majors[i][2];
        }
        if(secondaryMajor == majors[i][0])
        {
        document.getElementById("secondaryMajor").value = majors[i][2];
        }
      }

      document.getElementById("sumAddress").value = sumAddress;
      document.getElementById("sumPhone").value = sumPhone;
      document.getElementById("sumEmail").value = sumEmail;

      document.getElementById("number").value = studentNumber;
      document.getElementById("GPA").value = GPA;



      document.getElementById('level').value=level;



    //  document.getElementById("date").value = graduateDate;
    //$('#graduation').datepicker("setDate", graduateDate );
    //$("#graduation").datepicker("update", graduateDate);


/*
    $('#graduation').datepicker({
        "setDate": graduateDate,
        "autoclose": true,
        "format": 'yyyy-mm-dd'

}); */

/*   $('#graduation').datepicker({
        setDate: graduateDate,
        autoclose: true,
        minViewMode: 1,
        format: 'yyyy-mm-dd'
    }); */

    console.log("date: " + graduateDate)


      document.getElementById("employmentPlanned").value = employmentPlanned;

      if (0 == backgroundCheck) {
        document.getElementById('backgroundCheck1').checked = true;
      }
      else if (1 == backgroundCheck){
        document.getElementById('backgroundCheck2').checked = true;
      }
      else if(2 == backgroundCheck){
        document.getElementById('backgroundCheck').checked = true;
      }

      if (0 == discrimination) {
        document.getElementById('discrimination1').checked = true;
      }
      else if (1 == discrimination){
        document.getElementById('discrimination2').checked = true;
      }
      else if(2 == discrimination){
        document.getElementById('discrimination3').checked = true;
      }

      document.getElementById("ssn").value = ssn;

    console.log("skills: " + skills)
      if(skills != null){
      var skillArray = skills.split('^;$');
      skill1 = skillArray[0];
      skill2 = skillArray[1];
      skill3 = skillArray[0];

      console.log("skill1: " + skill1)

      document.getElementById("skill1").value = skill1;
      document.getElementById("skill2").value = skill2;
      document.getElementById("skill3").value = skill3;
    }





  }
  display_studentRecord({{ data|safe }}, {{ majors|safe}})
</script>
</html>
