{% include "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faculty Application</title>
    <link rel="shortcut icon" href="https://kblainec.files.wordpress.com/2016/06/cuboulder-icon.png"/>
    <!--Bootstrap validator-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"
          rel="stylesheet" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>

</head>
<body>
<script src="../static/js/facultyPage.js"></script>
<style>
    body {
        background-color: #fff8e1;
    }
</style>

<nav class="navbar navbar-default" style="background-color: #000000">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/faculty">Post a project</a></li>
                <li><a href="/matrix">Check Results</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
    <h1 id="top">Discovery Learning Apprenticeship Submission</h1>

    <div class="col-md-2" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
            <li><a href="#facultyInfo">Faculty Member Info</a></li>
            <li><a href="#facultyInfoII">Second Faculty Member</a></li>
            <li><a href="#studentInfo">Grad Student/Post Doc Info</a></li>
            <li><a href="#apprInfo">Apprenticeship Information</a></li>
            <li><a href="#finance">Finances</a></li>
            <li><a href="#other">Other</a></li>
            <li><a href="#top">Back to Top</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <div class="row" id="facultyInfo">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Faculty Member Info</h3>
                    </div>
                    <div class="panel-body">
                        <form data-toggle="validator" role="form">
                            <div class="form-group">
                                <label class="control-label" for="name"><span style="color:red;">* </span>Faculty Name:</label>
                                <input type="text" class="form-control" id="name" name="name1" placeholder="Enter Name"
                                       data-error="This field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label>Faculty Phone Number:</label>+1
                                <input type="text" class="input-medium bfh-phone" data-format="ddd-ddd-dddd"
                                       data-error="Invalid Input" minlength="12" maxlength="12" name="phone1">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label"><span style="color:red;">* </span>Faculty email
                                    address:</label>
                                <input type="email" class="form-control" id="email" name="email1"
                                       placeholder="Enter Email"
                                       data-error="Email address is invalid" required>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group has-feedback">
                                <div class="dropdown">
                                    <label class="control-label"><span style="color:red;">* </span>Faculty
                                        Department/Program:</label>
                                    <select class="form-control" name="program1" required>
                                        <option selected disabled value="">Please Select</option>
                                        <option value="1">Aerospace Engineering Sciences</option>
                                        <option value="2">Applied Math</option>
                                        <option value="3">Chemical & Biological Engineering</option>
                                        <option value="4">Civil, Environmental and Architectural Engineering</option>
                                        <option value="5">Computer Science</option>
                                        <option value="6">Electrical, Computer and Energy Engineering</option>
                                        <option value="7">Physics</option>
                                        <option value="8">Environmental Engineering</option>
                                        <option value="9">Mechanical Engineering</option>
                                        <option value="10">Colorado Space Grant</option>
                                        <option value="11">Engineering Education</option>
                                        <option value="12">ATLAS</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Does this project have a focus on Engineering for Developing Communities?</label>
                                <label class="radio-inline"><input type="radio" name="HasFocus" value="y">Yes</label>
                                <label class="radio-inline"><input type="radio" name="HasFocus" value="n">No</label>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="facultyInfoII">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Second Faculty Member(Optional)</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Faculty Name:</label>
                                <input type="text" class="form-control" name="name2" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label>Faculty Phone Number:</label>+1
                                <input type="text" class="input-medium bfh-phone" data-format="ddd-ddd-dddd"
                                       data-error="Invalid Input" minlength="12" maxlength="12" name="phone2">
                            </div>
                            <div class="form-group">
                                <label>Faculty email address:</label>
                                <input type="text" class="form-control" name="email2" placeholder="Enter Email">
                            </div>


                            <div class="dropdown">
                                <label>Faculty Department/Program:</label>
                                <select class="form-control" name="program2">
                                    <option selected disabled value="">Please Select</option>
                                    <option value="1">Aerospace Engineering Sciences</option>
                                    <option value="2">Applied Math</option>
                                    <option value="3">Chemical & Biological Engineering</option>
                                    <option value="4">Civil, Environmental and Architectural Engineering</option>
                                    <option value="5">Computer Science</option>
                                    <option value="6">Electrical, Computer and Energy Engineering</option>
                                    <option value="7">Physics</option>
                                    <option value="8">Environmental Engineering</option>
                                    <option value="9">Mechanical Engineering</option>
                                    <option value="10">Colorado Space Grant</option>
                                    <option value="11">Engineering Education</option>
                                    <option value="12">ATLAS</option>
                                </select>
                            </div>
                            <!--<button class="btn btn-default">Send</button>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="studentInfo">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Grad Student/Post Doc Info (Optional)</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Grad Student/Post Doc name:</label>
                                <input type="text" class="form-control" name="name3" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label>Grad Student/Post Doc phone number:</label>+1
                                <input type="text" class="input-medium bfh-phone" data-format="ddd-ddd-dddd"
                                       data-error="Invalid Input" minlength="12" maxlength="12" name="phone3">
                            </div>
                            <div class="form-group">
                                <label>Grad Student/Post Doc email address:</label>
                                <input type="text" class="form-control" name="email3" placeholder="Enter Email">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="apprInfo">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Apprenticeship Information</h3>
                    </div>
                    <div class="panel-body">
                        <form data-toggle="validator" role="form">

                            <div class="form-group">
                                <label class="control-label" for="name"><span style="color:red;">* </span>A
                                    title/description for the apprenticeship:</label>
                                <input type="text" class="form-control" name="projectTitle" maxlength="80"
                                       data-error="This field is required" required>
                                <small id="f1Help" class="form-text text-muted">(This is what students will see in the
                                    application, may not exceed 80 characters)
                                </small>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="name">A website link related to your apprenticeship that would provide more
                                    information to interested students?</label>
                                <input type="text" class="form-control" name="projectLink">
                            </div>

                            <div class="form-group">
                                <label for="name">Mandantory Requirements</label>

                                <button id="b1" class="btn add-more btn-success" type="button">+</button>
                                <button class="btn btn-danger remove-me" type="button">-</button>
                                <small><strong>(Note: Click + if you want to add more requirements)</strong></small>
                                <br>
                                <small id="f3Help" class="form-text text-muted">(eg: Must have had certain course,
                                    certain class standing, available to work in 2 5-hour blocks, etc.)
                                    (may not exceed 1000 characters)
                                </small>
                                <div class="form-group" id="field1">
                                    <input class="form-control" type="text" id="req" name="specialReq1" maxlength="1000"
                                           placeholder="Special Requirement 1">
                                    <!--<span class="input-group-btn">
                                    <button id="b1" class="btn add-more btn-success" type="button">+</button>
                                    </span>-->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label"><span style="color:red;">* </span>A longer description of
                                    the apprenticeship:</label>
                                <textarea type="text" rows="3" class="form-control" name="projectDesc" maxlength="1200"
                                          data-error="This field is required" required></textarea>
                                <small id="f4Help" class="form-text text-muted">(may not exceed 1200 characters)</small>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label>From what areas do you wish to recruit students?</label>
                                <small id="f5Help" class="form-text text-muted">(check all that apply)</small>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="check" id="checkAll"> Select / Deselect All
                                    </label>
                                </div>
                                <small class="form-text text-muted" style="color:red;">PLEASE NOTE: Only students from
                                    majors you select will be allowed to apply for this project.
                                </small>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="0">Aerospace
                                                Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="1">Applied
                                                Math</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="2">Architectural
                                                Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="3">Chemical
                                                Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="4">Chemical
                                                & Biological Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="5">Civil
                                                Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="6">Computer
                                                Science</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="7">Electrical
                                                Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="8">Electrical
                                                and Computer Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="9">Engineering
                                                Physics</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="10">Environmental
                                                Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="11">Engineering
                                                Plus</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="12">Mechanical
                                                Engineering</label>
                                        </div>
                                        <div class="checkbox">
                                            <label><input type="checkbox" class="check" name="majorReq" value="13">Technology,
                                                Arts and Media</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label><span style="color:red;">* </span>Amount of supervision required/interaction
                                    available:</label><br>
                                <label class="radio-inline"><input type="radio" name="AmtOfSup" value="0">Very little
                                    supervision; student will need to work largely independently</label><br>
                                <label class="radio-inline"><input type="radio" name="AmtOfSup" value="1">Moderate
                                    amount of supervision and interaction with others</label><br>
                                <label class="radio-inline"><input type="radio" name="AmtOfSup" value="2">Good deal of
                                    supervision; student will work as an integral part of a research team</label>
                            </div>

                            <div class="form-group">
                                <label><span style="color:red;">* </span>Supervision provided by:</label><br>
                                <label class="radio-inline"><input type="radio" name="SupBy" value="0">Supervision
                                    primarily by faculty supervisor</label><br>
                                <label class="radio-inline"><input type="radio" name="SupBy" value="1">Supervision
                                    primarily by graduate students</label><br>
                                <label class="radio-inline"><input type="radio" name="SupBy" value="2">Supervision
                                    primarily a combination of faculty and graduate students</label>
                            </div>


                            <div class="form-group">
                                <label><span style="color:red;">* </span>Nature of work:</label><br>
                                <label class="radio-inline"><input type="radio" name="NatureOfWork" value="0">Nature of
                                    work is primarily theoretical, most work on paper/electronic medium</label><br>
                                <label class="radio-inline"><input type="radio" name="NatureOfWork" value="1">Nature of
                                    work is primarily experimental, requiring hands-on work in a lab</label><br>
                                <label class="radio-inline"><input type="radio" name="NatureOfWork" value="2">Nature of
                                    work is primarily field based, requiring hands-on work in the field</label><br>
                                <label class="radio-inline"><input type="radio" name="NatureOfWork" value="3">Nature of
                                    work is primarily computer-related, involving coding/analysis</label><br>
                                <label class="radio-inline"><input type="radio" name="NatureOfWork" value="4">Nature of
                                    work is a combination of several types of work.</label><br>
                                <label class="radio-inline"><input type="radio" name="NatureOfWork" value="5">other,
                                    specify:</label>
                                <input type="text" class="form-control" name="NatureOfWork">

                            </div>


                            <div class="form-group">
                                <label><span style="color:red;">* </span>Amount of prior work conducted in association
                                    with this project:</label><br>
                                <label class="radio-inline"><input type="radio" name="AmtOfPreWork" value="0">No prior
                                    work; student will be starting from basic idea</label><br>
                                <label class="radio-inline"><input type="radio" name="AmtOfPreWork" value="1">Some prior
                                    work; student will build on work of others</label><br>
                                <label class="radio-inline"><input type="radio" name="AmtOfPreWork" value="2">Well-established
                                    body of work; student will refine/improved upon efforts of others</label><br>
                                <label class="radio-inline"><input type="radio" name="AmtOfPreWork" value="3">other,
                                    specify:</label>
                                <input type="text" class="form-control" name="AmtOfPreWork">
                            </div>


                            <div class="form-group">
                                <label for="name">Name of specific student desired: (if any) – be sure to ask them to
                                    apply!</label>
                                <input type="text" class="form-control" name="preselectStudent">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="finance">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Finances</h3>
                    </div>
                    <div class="panel-body">
                        <form data-toggle="validator" role="form">
                            <div class="form-group">
                                <label class="control-label"><span style="color:red;">* </span>What speed type will you
                                    use for your 50% match of the funding? </label>
                                <input type="text" class="form-control" name="SpeedType"
                                       data-error="This field is required" required>
                                <small class="form-text text-muted">(should be in the form XXXXXXXX, all numbers)
                                </small>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label"><span style="color:red;">* </span>Accounting contact for
                                    your project:</label>
                                <input type="text" class="form-control" name="AcctContace"
                                       data-error="This field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="other">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Other</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Have you supervised a Discovery Learning Apprentice in the past?</label><br>
                                <label class="radio-inline"><input type="radio" name="DidSup" value="y">Yes</label><br>
                                <label class="radio-inline"><input type="radio" name="DidSup" value="n">No</label><br>
                                <small class="form-text text-muted">(this question intended for the faculty supervisor,
                                    not the graduate student or post-doc)
                                </small>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 center">
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-lg btn-space" id="facSubmit">Submit</button>
                    <button type="button" class="btn btn-default btn-lg btn-space">Cancel</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $("#checkAll").click(function () {
        console.log("hit")
        $(".check").prop('checked', $(this).prop('checked'));
    });

    $(document).ready(function () {
        var next = 1;
        var count = 1;
        /*
         var idGroup = [];
         var anyBoxesChecked = [];
         var maxReq = 5;
         for (var i = 0; i < maxReq; i++) {
         anyBoxesChecked.push(false);
         idGroup.push(i+1);
         }
         */
        $(".add-more").click(function (e) {
            console.log('count', count)
            e.preventDefault();
            if(count<5){
                var addto = "#field" + count;
                next = next + 1;
                var removeBtn = '<span class="input-group-btn"><button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></span>';
                var newIn = '<div class="form-group" id="field' + next + '"' + '><input class="form-control"' +
                        'id="req' + next + '"' + 'name="specialReq' + next + '" type="text" maxlength=1000 ' +
                        'placeholder="Special Requirement '+ next +'">' + '</div>';
                console.log('newIn', newIn)
                var newInput = $(newIn);
                var removeButton = $(removeBtn);
                $(addto).after(newInput);
                //$("#field" + next).attr('data-source', $(addto).attr('data-source'));
                count+=1;
            }


            //$("#count").val(next);
        });

        $('.remove-me').click(function (e) {
            e.preventDefault();
            if(count>1){
                //var fieldNum = parseInt(this.id.charAt(this.id.length - 1)) + 1;
                var fieldID = "#field" + count;
                $(fieldID).remove();
                console.log('count-', count, 'field id', fieldID)
                count-=1;
                next-=1;
            }

            if(count<=0){
                count = 1;
            }
        });

    });


    //Dropdown Validator
    $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="submit"], button):enabled';
    $('form').validator({
        delay: 200,
        focus: false,
        feedback: {
            success: 'glyphicon-ok-sign',
            error: 'glyphicon-exclamation-sign'
        }
    });
</script>

<script src="../static/js/sideBar.js"></script>

</body>
</html>
