{% include "base.html" %}
<html>
  <body>
    <style>
        body {
        background-image: url("../static/imgs/boulder.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
  </style>

<nav class="navbar navbar-default" style="background-color: #000000">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/index">HOME</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/student">Student<span class="sr-only">(current)</span></a></li>
        <li><a href="/faculty">Faculty</a></li>
        <li><a href="/project">Projects</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <div class="row">
  <div class="col-md-6">
        <div class="StreamsHero-buttonContainer">
        <a class="Button StreamsSignUp js-nav js-signup center" data-component="hero" data-element="buttons" href="/student" style="margin-left:80%;"><b>Student</b></a>
    </div>
  </div>

  <div class="col-md-6">
        <div class="StreamsHero-buttonContainer">
        <a class="Button StreamsSignUp js-nav js-signup center" data-component="hero" data-element="buttons" href="/faculty" style="margin-right:50%;"><b>Faculty</b></a>
    </div>
  </div>
  </div>

</div>



  </body>

</html>