<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Applications</title>
        <link rel="shortcut icon" href="https://kblainec.files.wordpress.com/2016/06/cuboulder-icon.png"/>
    {#    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">#}
    {#    <link rel="stylesheet" href="../static/css/styles.css">#}
    {#    <script src="../static/js/jquery-3.1.1.min.js"></script>#}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link href="../static/BootstrapFormHelpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <script src="../static/BootstrapFormHelpers/dist/js/bootstrap-formhelpers.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
    {#    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>#}
    {##}
    {#    <script src="../static/bootstrap/js/bootstrap.min.js"></script>#}
    {#    <!-- Bootstrap Form Helpers -->#}
    <!-- datatable -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/javascript"
          href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/table.css">

    <style>
        body {
            background-color: #fff8e1;
        }
        table{
          margin: 0 auto;
          width: 100%;
          clear: both;
          border-collapse: collapse;
          table-layout: fixed; 
          word-wrap:break-word;}
        th{
            background-color: #000;
            color:#fff;
        }
        select, .dataTables_wrapper div.dataTables_filter input{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
   </style>

    {#        <style>#}
    {#          table, th, td {#}
    {#              border: 1px solid black;#}
    {#          }#}
    {#          th, td {#}
    {#              padding: 5px;#}
    {#              text-align: left;#}
    {#          }#}
    {#      </style>#}
</head>
<body>
<nav class="navbar navbar-default" style="background-color: #000000">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                    <li><a href="/matrix">Applications Matrix</a></li>
                    <li><a href="/results">Assign Projects</a></li>
                    <li><a href="/project">Projects</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="col-md-10 center">
            <h1>Matrix</h1>
            <h2 class="center">Select a Filter</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Target</th>
            <th>Search by</th>
        </tr>
        </thead>
        <tbody>
            <tr id="gender" , data-column="1">
                <td>Gender</td>
                <td>
                    <select class="column_filter form-control" id="col1_filter">
                        <option value="" selected="selected">Please Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </td>
            </tr>
            <tr id="race" , data-column="3">
                <td>Race</td>
                <td>
                    <select class="column_filter form-control" id="col3_filter">
                        <option value="" selected="selected">Please Select</option>
                        <option value="American Indian or Alaskan">American Indian or Alaskan</option>
                        <option value="Black or African-American">Black or African-American</option>
                        <option value="Native Hawaiian or other Pacific Islander">Native Hawaiian or other Pacific Islander</option>
                        <option value="Asian">Asian</option>
                        <option value="White">White</option>
                        <option value="Other">Other</option>
                    </select>
                </td>
            </tr>
            <tr id="major" , data-column="5">
                <td>Major</td>
                <td>
                    <select class="column_filter form-control" id="col5_filter">
                        <option value="" selected="selected">Please Select</option>
                    </select>
                </td>
            </tr>
            <tr id="year" , data-column="8">
                <td>Level</td>
                <td>
                    <select class="column_filter form-control" id="col8_filter">
                        <option value="" selected="selected">Please Select</option>
                        <option value="freshman">Freshman</option>
                        <option value="sophomore">Sophomore</option>
                        <option value="junior">Junior</option>
                        <option value="senior">Senior</option>
                        <option value="fifth">Fifth year</option>
                    </select>
                </td>
            </tr>
            <tr id="Re" , data-column="9">
                <td>Research Exp</td>
                <td>
                    <select class="column_filter form-control" id="col9_filter">
                        <option value="" selected="selected">Please Select</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 center">
            <form action="assign" role="form" id="f1" method="post">
                <label class="control-label"><span style="color:red;"></span>Student</label>
                <input type="text" list="student" name="student">
                <datalist id="student">
                </datalist>
                <label class="control-label"><span style="color:red;">* </span>Project</label>
                <input list="project" name="project">
                <datalist id="project">
                </datalist>
                <input type="submit" value="Assign">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11 center">
            <table id="student_info" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
        </div>
    </div>
</div>
</body>
<script>
    var s_id_name = {{ s_id_name | safe }};
    var p_id_name = {{ p_id_name | safe }};
    var major = {{ major| safe }};
    var dataSet = {{ students|safe }};
    // console.log(p_id_name);
    function filterColumn(i) {
        $('#student_info').DataTable().column(i).search(
                $('#col' + i + '_filter').val()
        ).draw();
    }
    $(document).ready(function () {
        for (var i=0;i<s_id_name.length;i++){
            $('#student').append('<option value='+s_id_name[i][0]+'>'+s_id_name[i][1]+'</option>');
        }
        for (var i=0;i<p_id_name.length;i++){
            $('#project').append('<option value='+p_id_name[i][0]+'>'+p_id_name[i][1]+'</option>');
        }
        for (var i=0;i<major.length;i++){
            $('#col5_filter').append('<option value='+major[i][1]+'>'+major[i][1]+'</option>');
        }
        var dataTable = $('#student_info').DataTable({
            "scrollX": true,
            data: dataSet,
            columns: [
                {"title": "name"},
                {"title": "gender"},
                {"title": "origin"},
                {"title": "race" },
                {"title": "email"},
                {"title": "major"},
                {"title": "student number"},
                {"title": "GPA"},
                {"title": "level"},
                {"title": "research Experience"},
                {"title": "1th Project"},
                {"title": "2th Project"},
                {"title": "3th Project"},
                {"title": "4th Project"},
                {"title": "5th Project"}
            ]
        });
        dataTable.columns.adjust().draw();
        $('select.column_filter').on('keyup click change', function () {
            filterColumn($(this).parents('tr').attr('data-column'));
        });
    });

</script>

</body>
</html>