<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lookup Student Application</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Form Helpers -->
    <link href="../static/BootstrapFormHelpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
    <script src="../static/BootstrapFormHelpers/dist/js/bootstrap-formhelpers.min.js"></script>
    <link rel="shortcut icon" href="https://kblainec.files.wordpress.com/2016/06/cuboulder-icon.png" />
    <style>
        .sidebar1 {
            float: right;
            width: 25%;
            padding-bottom: 10px;
            background-color: #eee;
        }
        
        body {
            background-color: #fff8e1;
        }
    </style>
</head>

<body>
    <script src="../static/js/studentPage.js"></script>

    <nav class="navbar navbar-default" style="background-color: #000000">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/student">New Application</a></li>
                    <li><a href="/navigation">View Application</a></li>
                    <li><a href="/project">Projects</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <h1 id="top">Lookup Student Application</h1>


        <div class="col-md-10 center">
            <div class="row" id="studentInfo">
                <div class="col-md-10 center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Lookup Information</h3>
                        </div>
                        <div class="panel-body">
                            <form action="/lookup" method="post">
                                <div class="form-group">
                                    <label for="studentID"><span style="color:red;">* </span>Your Student ID:</label>
                                    <input type="text" class="form-control" id="studentID" name="studentID" placeholder="Enter Student ID">
                                </div>
                                <div class="form-group">
                                    <label for="studentSecret"><span style="color:red;">* </span>Your Secret:</label>
                                    <input type="text" class="form-control" id="studentSecret" name="studentSecret" placeholder="Enter Secret" required>
                                </div>
                                <div class="form-group">
                                    {% if message is not none %}
                                    <label style="color:red;">{{message}}</label> {%endif %}
                                </div>
                                <button type="submit" class="btn btn-primary" id="lookup">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <script src="../static/js/sideBar.js">

    $(document).ready(console.log(message))
    Mycomponet = '{{message}}'


    </script>

</body>

</html>