<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Application</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Form Helpers -->
    <link href="../static/BootstrapFormHelpers/dist/css/bootstrap-formhelpers.min.css" rel="stylesheet" media="screen">
    <script src="../static/BootstrapFormHelpers/dist/js/bootstrap-formhelpers.min.js"></script>
    <link rel="shortcut icon" href="https://kblainec.files.wordpress.com/2016/06/cuboulder-icon.png"/>
    <!--Bootstrap DatePicker-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"
          rel="stylesheet" media="screen">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

    <!--Bootstrap validator-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <!--jQuery Validator-->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/additional-methods.min.js"></script>
    -->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
    <style>
        .sidebar1 {
            float: right;
            width: 25%;
            padding-bottom: 10px;
            background-color: #eee;
        }

        body {
            background-color: #fff8e1;
        }
    </style>
</head>
<body>
<script src="../static/js/studentPage.js"></script>

<div class="container-fluid">
    <h1 id="top">Student Application</h1>
    <div class="col-md-2" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
            <li><a href="#studentInfo">Demographic Info</a></li>
            <li><a href="#boulderInfo">Boulder Contact Info</a></li>
            <li><a href="#summerInfo">Summer Contact Info</a></li>
            <li><a href="#academicInfo">Academic Info</a></li>
            <li><a href="#apprInfo">Apprenticeship Info</a></li>
            <li><a href="#files">Skills, Resume, and Cover Letter</a></li>
            <li><a href="#top">Back to Top</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <div class="row" id="studentInfo">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Demographic Information</h3>
                    </div>
                    <div class="panel-body">
                        <form data-toggle="validator" role="form" id="checkboxForm">
                            <div class="form-group">
                                <label class="control-label"><span style="color:red;">* </span>Your Name:</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name"
                                       data-error="This field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label><span style="color:red;">* </span>Gender:</label>
                                <label class="radio-inline"><input type="radio" name="gender" value=0
                                                                   required>Male</label>
                                <label class="radio-inline"><input type="radio" name="gender" value=1
                                                                   required>Female</label>
                            </div>
                            <div class="form-group">
                                <label><span style="color:red;">* </span>Are you Hispanic, Chicano, Mexican, Latino,
                                    Cuban, Puerto Rican, South or Central
                                    American, or Spanish Origin?</label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="origin" id="option1" value=0
                                               required>
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="origin" id="option1" value=1
                                               required>
                                        No
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="origin" id="option1" value=2
                                               required>
                                        I do not wish to provide this information
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><span style="color:red;">* </span>Please check your race (select all that apply):</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="race" value="1">American Indian or Alaskan
                                        Native</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="race" value="2">Black or
                                        African-American</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="race" value="3">Native Hawaiian or other Pacific
                                        Islander</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="race" value="4">Asian</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="race" value="5">White</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="race" value="6">Other</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="race" value="7">Do Not Wish to Provide</label>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="boulderInfo">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Boulder Contact Information</h3>
                    </div>
                    <div class="panel-body">
                        <form data-toggle="validator" role="form">
                            <div class="form-group">
                                <label class="control-label" for="address"><span style="color:red;">* </span>Boulder
                                    Address:</label>
                                <input class="form-control" name="address" type="text"
                                       placeholder="street, city, state, zip"
                                       data-error="This field is required" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label><span style="color:red;">* </span>Phone:</label>+1
                                <input type="text" class="input-medium bfh-phone" data-format="ddd-ddd-dddd"
                                       name="phone"
                                       data-error="Invalid Input" minlength="12" maxlength="12" required>
                                <div class="help-block with-errors"></div>

                            </div>
                            <div class="form-group">
                                <label class="control-label"><span style="color:red;">* </span>Email:</label>
                                <input type="email" class="form-control" name="email" placeholder="Email"
                                       data-error="Email address is invalid" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="summerInfo">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Summer Contact Information(if different)</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="address">Summer Address:</label>
                                <input class="form-control" name="Sumaddress" type="text"
                                       placeholder="street, city, state, zip">
                            </div>
                            <div class="form-group">
                                <label>Summer Phone:</label>+1
                                <input type="text" class="input-medium bfh-phone" data-format="ddd-ddd-dddd"
                                       data-error="Invalid Input" minlength="12" maxlength="12" name="Sumphone">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label>Summer Email:</label>
                                <input type="text" class="form-control" name="Sumemail" placeholder="Email">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="academicInfo">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Academic Information</h3>
                    </div>
                    <div class="panel-body">
                        <small>Please carefully enter your academic information. If you are still open option, indicate
                            which major you plan to enter.
                        </small>
                        <div class="row">
                            <div class="col-md-6">
                                <form role="form" id="f1">

                                    <div class="form-group has-feedback">
                                        <label class="control-label"><span style="color:red;">* </span>Primary
                                            Major</label>
                                        <select class="form-control" name="major" id="major" required onchange="getMajor(this);">
                                            <option selected disabled value="">Please Select</option>
                                            {% for row in majors %}
                                                <option value={{ row[0] }}>{{ row[2] }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Secondary Major</label>
                                        <small>If you have a <strong>double major</strong>. Do not select a minor here.
                                        </small>
                                        <br>
                                        <select class="form-control" name="major2" onchange="getSecondMajor(this);">
                                            <option value="" selected="selected">Please Select</option>
                                            {% for row in majors %}
                                                <option value={{ row[0] }} type="number">{{ row[2] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label"><span style="color:red;">* </span>Student
                                            Number:</label>
                                        <input class="form-control" type="text" min="0" name="SN" data-buttons="false"
                                               minlength="9" maxlength="9" pattern="^[0-9]{9}$"
                                               data-error="Invalid Input" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label><span style="color:red;">* </span>GPA:</label>
                                        <input type="number" class="form-control" placeholder="x.xxxx"
                                               name="GPA" min="0.0" step="0.001" max="4.0" required>
                                    </div>

                                    <div class="form-group has-feedback">
                                        <label class="control-label"><span style="color:red;">* </span>Level: (freshman,
                                            Sophomore, Junior, Senior, Other)</label>
                                        <select class="form-control" name="level" required>
                                            <option selected disabled value="">Please Select</option>
                                            <option value=1>Freshman</option>
                                            <option value=2>Sophomore</option>
                                            <option value=3>Junior</option>
                                            <option value=4>Senior</option>
                                            <option value=5>5th Year Senior</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group date">
                                        <label><span style="color:red;">* </span>Graduation Date</label>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                        <input type="text" name="date" class="form-control" placeholder="Graduation Date"
                                               id="graduation">
                                    </div>

                                    <div class="form-group">
                                        <label>Do you have previous research experience?</label><br>
                                        <label class="radio-inline"><input type="radio" name="researchExp" value=0>Yes</label>
                                        <label class="radio-inline"><input type="radio" name="researchExp" value=1>No(This
                                            will not affect your eligibility!)</label>
                                    </div>
                                </form>


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="apprInfo">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Apprenticeship Information</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label>Have you applied for a Discovery Learning Apprenticeship before?</label><br>
                                <label class="radio-inline"><input type="radio" name="appliedBefore"
                                                                   value=0>Yes</label>
                                <label class="radio-inline"><input type="radio" name="appliedBefore"
                                                                   value=1>No</label>
                                <label class="radio-inline"><input type="radio" name="appliedBefore" value=2>Not
                                    Sure</label>
                            </div>

                            <div class="form-group">
                                <label>Other fall employment planned:</label>
                                <textarea class="form-control" name="plan" placeholder="Other fall employment planned:"></textarea>
                            </div>

                            <p><strong style="color:red">Please make sure you selected a major before
                                proceeding!</strong></p>
                            <p>Indicate up to five research projects in order of interest:</p>
                            <p><strong style="color:red">Please note that some projects have special requirements that
                                you must meet.</strong></p>
                            <p>To see requirements and longer descriptions of the project, look at the projects
                                available for your major here.</p><a href='/project'>projects</a>

                            <div class="form-group has-feedback">
                                <label class="control-label"><span style="color:red;">* </span>Project1</label>
                                <select class="form-control" name="p1" id ="p1" required>
                                    <option value="" selected="selected">Please Select</option>
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label>Project2</label>
                                <select class="form-control" name="p2" id="p2">
                                    <option value="" selected="selected">Please Select</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Project3</label>
                                <select class="form-control" name="p3" id="p3">
                                    <option value="" selected="selected">Please Select</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Project4</label>
                                <select class="form-control" name="p4" id="p4">
                                    <option value="" selected="selected">Please Select</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Project5</label>
                                <select class="form-control" name="p5" id="p5">
                                    <option value="" selected="selected">Please Select</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Have you had a background check yet (at CU)? If yes when? (Take your best guess
                                    if you aren't sure.)</label><br>
                                <label class="radio-inline"><input type="radio" name="backCheck" value=0>Yes</label>
                                <label class="radio-inline"><input type="radio" name="backCheck" value=1>No</label>
                                <label class="radio-inline"><input type="radio" name="backCheck" value=2>Not
                                    Sure</label>
                            </div>

                            <div class="form-group">
                                <label>Have you had Discrimination and Harassment Awareness training yet (at CU)? If yes
                                    when? (Take
                                    your best guess if you aren't sure.)</label><br>
                                <label class="radio-inline"><input type="radio" name="discrimination" value=0>Yes</label>
                                <label class="radio-inline"><input type="radio" name="discrimination" value=1>No</label>
                                <label class="radio-inline"><input type="radio" name="discrimination" value=2>Not Sure</label>
                            </div>

                            <div class="form-group">
                                <label for="name">Last four digits of your Social Security Number:
                                    (this will only be used to acess your background check information)</label>
                                <input type="password" class="form-control" name="SSN" maxlength="4">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="files">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Skills, Resume, and Cover Letter</h3>
                    </div>
                    <div class="panel-body">
                        <p>Please list the three skills or qualifications that you feel make you a great candidate for
                            the
                            positions you selected:
                            (Could be knowledge of a programming language, knowledge of a field, courses taken, personal
                            characteristics, etc.
                            If appropriate, note your match to requirements in job description. Please note responses
                            are limited
                            to 75 characters.)</p>
                        <form>
                            <div class="form-group">
                                <label>1. </label>
                                <textarea class="form-control" name="skill1" rows="2" maxlength="75" ></textarea>
                            </div>
                            <div class="form-group">
                                <label>2. </label>
                                <textarea class="form-control" name="skill2" rows="2" maxlength="75"></textarea>
                            </div>
                            <div class="form-group">
                                <label>3. </label>
                                <textarea class="form-control" name="skill3" rows="2" maxlength="75"></textarea>
                            </div>
                            <p>To complete the application, you must submit a resume and a cover letter. You can submit
                                both using
                                the form below. Please use either the pdf format or a text document. To improve your
                                chances of
                                being selected for an apprenticeship, please take the time to construct a well-written
                                cover letter
                                and resume.</p>

                            <label class="control-label">Resume:</label>
                            <input type="file" id="file-chooser" /><br>
                            <div>
                            <button id="upload-button" type="button" class="btn btn-default btn-sm">Upload</button>
                            <span id="results" style="color:green"></span>
                            </div>


                            <br>
                            <label class="control-label">Cover letter:</label>
                            <input type="file" id="cl-file-chooser"><br>
                            <div>
                            <button id="upload-button-cl" type="button" class="btn btn-default btn-sm">Upload</button>
                            <span id="results-cl" style="color:green"></span>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="studentSecret">
            <div class="col-md-10 center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Application Secret</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="studentSecret"><span style="color:red;">* </span>Your Secret:</label>
                                <input type="password" data-minlength="6" class="form-control" id="studentSecret"
                                       name="studentSecret"
                                       placeholder="Enter Secret" required>
                                <div class="help-block">Minimum of 6 characters</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="files">
            <div class="col-md-10 center">
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-lg btn-space" id="stuSubmit">Submit</button>
                    <button type="button" class="btn btn-default btn-lg btn-space">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="../static/js/sideBar.js"></script>

</body>
<script>
    // $('.datepicker').datepicker();
    Mycomponet = '{{data[0]}}'

    /*
     ====================
     Date Picker
     ====================
     */
    var graduateDate = new Date();

    $('#graduation').datepicker({
        autoclose: true,
        minViewMode: 1,
        format: 'yyyy-mm'
    }).on('changeDate', function (selected) {
        graduateDate = new Date(selected.date.valueOf());
        graduateDate.setDate(graduateDate.getDate(new Date(selected.date.valueOf())));
    });

    /*
     ====================
     Dropdown Validator
     ====================
     */
    $.fn.validator.Constructor.INPUT_SELECTOR = ':input:not([type="submit"], button):enabled';
    $('form').validator({
        delay: 200,
        focus: false,
        feedback: {
            success: 'glyphicon-ok-sign',
            error: 'glyphicon-exclamation-sign'
        }
    });

    /*
     ====================
     Update Dropdown
     ====================
     */
    //get all majors
    var onchangeListener = false;
    var studentMajor = "";
    if(!onchangeListener){
        var projects = {{ data|safe }};
        var s1 = document.getElementById("p1");
        var s2 = document.getElementById("p2");
        var s3 = document.getElementById("p3");
        var s4 = document.getElementById("p4");
        var s5 = document.getElementById("p5");
        for(var times = 0;times<5;times++){
            projects.forEach(function(line,index){
                var s = eval('s'+(times+1));
                var option = document.createElement("option");
                option.value = line[0];
                option.textContent = line[1];
                s.appendChild(option);
            })
        }
    }

    //get preferred major
    function getMajor(selected)
    {
        onchangeListener = true;
        studentMajor = selected.value;
        var projects = {{ data|safe }};
        var s1 = document.getElementById("p1");
        var s2 = document.getElementById("p2");
        var s3 = document.getElementById("p3");
        var s4 = document.getElementById("p4");
        var s5 = document.getElementById("p5");

        var len = s1.options.length;
        var par;
        for(var times = 0;times<5;times++){
            for (var i=len; i>1; i--) {
                var s = eval('s'+(times+1));
                par = s.options[i - 1].parentNode;
                par.removeChild(s.options[i - 1]);
            }
        }
        for(var times = 0;times<5;times++){
            projects.forEach(function(line,index){
                if(line[0]==studentMajor){
                    var s = eval('s'+(times+1));
                    var option = document.createElement("option");
                    option.value = line[0];
                    option.textContent = line[1];
                    //console.log(option);
                    s.appendChild(option);
                }
            })
        }
    }

    function getSecondMajor(selected){
        var secMajor = selected.value;
        //console.log('sec',secMajor);
        var projects = {{ data|safe }};
        var s1 = document.getElementById("p1");
        var s2 = document.getElementById("p2");
        var s3 = document.getElementById("p3");
        var s4 = document.getElementById("p4");
        var s5 = document.getElementById("p5");

        var len = s1.options.length;
        var par;
        for(var times = 0;times<5;times++){
            for (var i=len; i>1; i--) {
                var s = eval('s'+(times+1));
                par = s.options[i - 1].parentNode;
                par.removeChild(s.options[i - 1]);
            }
        }
        for(var times = 0;times<5;times++){
            projects.forEach(function(line,index){
                if(line[0]==secMajor || line[0]==studentMajor){
                    var s = eval('s'+(times+1));
                    var option = document.createElement("option");
                    option.value = line[0];
                    option.textContent = line[1];
                    //console.log(option);
                    s.appendChild(option);
                }
            })
        }
    }

</script>

<script type="text/javascript">
    AWS.config.region = 'us-west-2'; // 1. Enter your region

    AWS.config.credentials = new AWS.CognitoIdentityCredentials({
        IdentityPoolId: 'us-west-2:3eca9deb-761c-4b69-a99c-5ebd71c05ede' // 2. Enter your identity pool
    });

    AWS.config.credentials.get(function(err) {
        if (err) alert(err);
        console.log(AWS.config.credentials);
    });

    var bucketName = 'silkroadcu'; // Enter your bucket name
    var bucket = new AWS.S3({
        params: {
            Bucket: bucketName
        }
    });

    var fileChooser = document.getElementById('file-chooser');
    var button = document.getElementById('upload-button');
    var results = document.getElementById('results');
    button.addEventListener('click', function() {

        var file = fileChooser.files[0];

        if (file) {

            results.innerHTML = '';
            var objKey = 'resumes/' + file.name;
            var params = {
                Key: objKey,
                ContentType: file.type,
                Body: file,
                ACL: 'public-read'
            };

            bucket.putObject(params, function(err, data) {
                if (err) {
                    results.innerHTML = 'ERROR: ' + err;
                } else {
                    console.log('Upload Success');
                    results.innerHTML = 'Upload Success';
                    listObjs();
                }
            });
        } else {
            results.innerHTML = 'Nothing to upload.';
        }
    }, false);
    function listObjs() {
        var prefix = 'resumes';
        bucket.listObjects({
            Prefix: prefix
        }, function(err, data) {
            if (err) {
                results.innerHTML = 'ERROR: ' + err;
            } else {
                var objKeys = "";
                data.Contents.forEach(function(obj) {
                    objKeys += obj.Key + "<br>";
                });
                //results.innerHTML = objKeys;
            }
        });
    }

    var clChooser = document.getElementById('cl-file-chooser');
    var button_cl = document.getElementById('upload-button-cl');
    var results_cl = document.getElementById('results-cl');
    button_cl.addEventListener('click', function() {

        var file = clChooser.files[0];

        if (file) {

            results_cl.innerHTML = '';
            var objKey = 'coverletters/' + file.name;
            var params = {
                Key: objKey,
                ContentType: file.type,
                Body: file,
                ACL: 'public-read'
            };

            bucket.putObject(params, function(err, data) {
                if (err) {
                    results_cl.innerHTML = 'ERROR: ' + err;
                } else {
                    console.log('Upload Success');
                    results_cl.innerHTML = 'Upload Success';
                }
            });
        } else {
            results_cl.innerHTML = 'Nothing to upload.';
        }
    }, false);

</script>
</html>
